<a mat-list-item routerLink="." > <mat-icon mat-list-icon>chevron_right</mat-icon> Início </a>
<a mat-list-item routerLink="." > <mat-icon mat-list-icon>chevron_right</mat-icon> Página 2</a>
<a mat-list-item routerLink="." > <mat-icon mat-list-icon>chevron_right</mat-icon> Página 3</a>

<app-submenu titulo="Sub Menu">
  <a mat-list-item routerLink="." > <mat-icon mat-list-icon>chevron_right</mat-icon> Página 3</a>
</app-submenu>
<app-submenu titulo="Sub Menu">
  <a mat-list-item routerLink="." > <mat-icon mat-list-icon>chevron_right</mat-icon> Página 3</a>
  <a mat-list-item routerLink="." > <mat-icon mat-list-icon>chevron_right</mat-icon> Página 3</a>
  <a mat-list-item routerLink="." > <mat-icon mat-list-icon>chevron_right</mat-icon> Página 3</a>
  <a mat-list-item routerLink="." > <mat-icon mat-list-icon>chevron_right</mat-icon> Página 3</a>
  <a mat-list-item routerLink="." > <mat-icon mat-list-icon>chevron_right</mat-icon> Página 3</a>
</app-submenu>
<app-submenu titulo="Sub Menu">
  <a mat-list-item routerLink="." >Página 3</a>
</app-submenu>
